.blog_title{
	    margin: 0 0px 36px 0;
    float: left;
    width: 100%;
}

*{
	
}

.wei {
    margin: 16% 0 0 0;
    /* opacity: 0; */
    /* display: none; */
}

a {}

a.xiazaidizi {
    font-size: 17px;
    margin: 19px 0 0 0;
    float: left;
    width: 100%;
.blog_title{
    margin: 0 0px 36px 0;
    float: left;
    width: 100%;  }    *{     }
    a {;}    .xiazaidizhi {
    font-size: 21px;
    margin: 23px 0 0 0;  }
    audio {      border: #b5b5b5 1px solid;
    margin: -4px 0 0 17px;
    border-radius: 5px;  }    .shiting {
    float: left;
    font-size: 21px;  }
.blog_title{
    margin: 0 0px 36px 0;
    float: left;
    width: 100%;  }    *{     }
    a {;}    .xiazaidizhi {
    font-size: 21px;
    margin: 23px 0 0 0;  }
    audio {      border: #b5b5b5 1px solid;
    margin: -4px 0 0 17px;
    border-radius: 5px;  }    .shiting {
    float: left;
    font-size: 21px;  }
    word-wrap: break-word;
    word-wrap: break-word;
}

.xiazaidizhi {
    font-size: 21px;
    margin: 23px 0 0 0;
}

audio {
    border: #b5b5b5 1px solid;
    margin: -4px 0 0 17px;
    border-radius: 5px;
}

.shiting {
    float: left;
    font-size: 21px;
}