@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}

.shuomingbufen {
    width: 100%;
    float: left;
}

.shuomingyou {
    float: left;
    margin: 0 0 31px 49px;
    border: 1px solid;
    padding: 8px;
}

.shumingzuo {
    float: left;
    margin: 0 0 22px 0;
    border: 1px solid;
    padding: 8px;
}

table.liebiao {
    width: 1261px;
}

tr.neironghang {
    font-size: 15px;
}

tr.biaotihang {
    font-size: 18px;
    background: #dedede;
}

td {
    padding: 6px;
    /* font-size: 17px; */
    word-break: break-all;
    width: 12%;
}

.wenzihang {
    font-size: 14px;
}

.biaoti2 {
    font-size: 19px;
}

.biaoti1 {
    font-size: 24px;
    margin: 0 0px 20px 0;
}

.biaoti1 {}

input.queren {
    padding: 4px 33px;
    margin: 0 0 0 183px;
}

.shuruweizhi {
    /* margin: 62px 0 0 0; */
}

.shuoming {
    margin: 16px 0 0 24px;
    font-size: 17px;
}

textarea.shuruyu {
    width: 743px;
    height: 81px;
    border: solid 1px #0033ff;
    padding: 3px;
}